<html>

<head>
  <title>{{title}}</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Edit Organization</h1></div>
    {{#if errors}}
      {{#each errors as |error|}}
        <div class="alert alert-danger"><span>{{error.error}}</span></div>
      {{/each}}
    {{/if}}
    {{#if saved}}
      <div class="alert alert-success"><span>Your profile has been saved</span></div>
    {{/if}}
    <form method="post" role="form" class="login-form form-horizontal"><input name="_csrf" type="hidden" value="{{csrfToken}}">
      <div class="form-group"><label class="col-sm-4">First Name</label>
        <div class="col-sm-8"><input placeholder="Your first name" required name="givenName" type="text" value="{{givenName}}" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-4">Last Name</label>
        <div class="col-sm-8"><input placeholder="Your last name" required name="surname" type="text" value="{{surname}}" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-4">Street address</label>
        <div class="col-sm-8"><input placeholder="e.g. 123 Sunny Ave" required name="streetAddress" type="text" value="{{streetAddress}}" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-4">City</label>
        <div class="col-sm-8"><input placeholder="e.g. City" required name="city" type="text" value="{{city}}" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-4">State</label>
        <div class="col-sm-8"><input placeholder="e.g. CA" required name="state" type="text" value="{{state}}" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-4">ZIP</label>
        <div class="col-sm-8"><input placeholder="e.g. 94116" required name="zip" type="text" value="{{zip}}" class="form-control"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8"><button type="submit" class="login btn btn-primary">Save</button></div>
      </div>
      <div class="pull-right"><a href="/">Return to home page</a></div>
    </form>
  </div>
</body>

</html>