<!-- Locate shelter section -->
  <section id="get_involved">
    <div class="container">
      <div class="row">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2>Locate Shelter</h2>
          <div class="search-bar">
            <label for="search-zipcode">Find a shelter:</label>
            <input id="search-name" type="text" placeholder="Name">
            <input id="search-zipcode" type="number" placeholder="Zipcode">
            <select name="radius" id="radius">
              <option value="5">   5   </option>
              <option value="10">  10  </option>
              <option value="25">  25  </option>
              <option value="50">  50  </option>
              <option value="100"> 100 </option>
            </select>
            <label for="radius">mi. radius</label>
            <button class="btn btn-primary btn-search">Search</button>
          </div>
          {{#if results}}
          <div class="search-results col-xs-12">
            {{#each results}}
              <a href="/shelter/{{_id}}">
                <div class="search-result row">
                  <div class="result-logo"><img src="{{avatarUrl}}" alt="{{name}}"></div>
                  <div class="result-info">
                    <div class="info-element info-name">{{name}}</div>
                    <div class="info-element info-address">{{address}}</div>
                    <div class="info-element info-phone">{{phone}}</div>
                  </div>
                </div>
              </a>
            {{/each}}
          </div>
          {{else}}
          <div class="search-results col-xs-12" v-else="results">
            <p class="search-notice">Type a search term or zipcode and select search radius.</p>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
<!-- end Locate shelter section -->
